@media (max-width: 768px) {
    .section-title {
        font-size: 1.5rem;
    }

    nav ul {
        display: none;
    }

    .hero-content h1 {
        font-size: 2rem;
    }

    .gioithieu-content,
    .contact-wrapper {
        grid-template-columns: 1fr;
    }
}